n8n/workflows/master-cmo-workflow.json
{
  "name": "Master CMO Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "master-cmo-trigger"
    },
    {
      "parameters": {
        "url": "={{ $env.AIBC_API_URL }}/api/n8n/workflow/orchestrate",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "scanId",
              "value": "={{ $json.body.scanId }}"
            },
            {
              "name": "workflowType",
              "value": "={{ $json.body.workflowType }}"
            },
            {
              "name": "brandDNA",
              "value": "={{ $json.body.brandDNA }}"
            },
            {
              "name": "extractedContent",
              "value": "={{ $json.body.extractedContent }}"
            }
          ]
        }
      },
      "id": "orchestrate-workflow",
      "name": "Orchestrate Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assignment-1",
              "name": "results",
              "value": "={{ $json.results }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "format-results",
      "name": "Format Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.AIBC_API_URL }}/api/n8n/workflow/{{ $json.scanId }}/update",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "completed"
            },
            {
              "name": "result",
              "value": "={{ $json }}"
            }
          ]
        }
      },
      "id": "update-status",
      "name": "Update Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assignment-1",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.AIBC_API_URL }}/api/n8n/workflow/{{ $json.scanId }}/update",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "failed"
            },
            {
              "name": "error",
              "value": "={{ $json.error }}"
            }
          ]
        }
      },
      "id": "update-error",
      "name": "Update Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Orchestrate Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrate Workflow": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Update Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}






